{% extends 'base.html.twig' %}

{% block content %}
	<h1>Manage Training:
		{{ training.name }}</h1>

	<h2>Modules:</h2>
	<ul class="list-modules">
		{% if training.modules|length > 0 %}
			{% for module in training.modules %}
				<li>
					{{ module.name }}
					<a href="{{ path('manage_training', {id: training.id, module: module.id}) }}">Supprimer</a>
				</li>
			{% endfor %}
		{% else %}
			<p>No modules</p>
		{% endif %}
	</ul>
{% endblock %}
